<div id="imageSlider" class="carousel_slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">        
      <div class="carousel-item active" data-bs-interval="10000" id="carItem">
        <img src="cruise.jpg" class="d-block w-100" alt="..." id="carImg">
      </div>

      <div class="carousel-item" data-bs-interval="10000" id="carItem">
        <img src="beach.jpg" class="d-block w-100" alt="..." id="carImg"> 
      </div>

      <div class="carousel-item" data-bs-interval="10000" id="carItem">
        <img src="lake.jpg" class="d-block w-100" alt="..." id="carImg">
      </div>

      <div class="carousel-caption d-none d-md-block w-100">
        <h5 class="fw-semibold">Best Spots For A Summer Vacation</h5>
        <p>Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
      </div>
    </div>
    <div class="carousel-indicators position-relative mt-2">
      <button type="button" data-bs-target="#imageSlider" data-bs-slide-to="0" class="active bg-secondary" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#imageSlider" data-bs-slide-to="1" class="bg-secondary" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#imageSlider" data-bs-slide-to="2" class="bg-secondary" aria-label="Slide 3"></button>
    </div>
  </div>
