<div id="cardList" class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 px-4 py-3 w-100">


<div class="col" *ngFor="let _ of iterationsArray; let i = index"> 
    <div class="card boxshadow w-100">
        <div class="card-body">
            <h6 class="mb-0 fw-semibold">Annual Vacation</h6>
            <h6 class="d-inline text-secondary">2/3/2023 - 10/3/2023</h6>
          <h6 class="d-inline fw-semibold text-secondary ps-1"> 8 days</h6>
        <h6 class="mt-2 text-secondary">Approved by: Hazem Azmi</h6>                      
        </div>
      </div> 
</div>

</div>