

<app-navbar></app-navbar>

<div class="container-md mt-5 d-flex justify-content-between gap-4">
  <h4 class="fw-semibold"> Welcome Back Ahmad! Here are your latest updates. </h4>
  <app-wide-button label="New Request" customClass="btn-success text-light"></app-wide-button>
</div>


<div class="container-md mt-5">
  
  <div class="updates d-flex justify-content-evenly flex-wrap gap-4">

    <div class="dashboard boxshadow bg-light rounded-5 flex-grow-1 px-3 py-2">

    <div class="profileOverview d-flex align-items-center justify-content-between">

        <div class="profilePicName d-flex align-items-center gap-2">

             <img class="avatar rounded-circle" src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png" alt="">
            
             <div>
              <h5 class="mb-1 fw-semibold">Ahmad Azmi</h5>
              <h6 class="text-body-tertiary">Junior Accounting Officer</h6>
            </div>
        </div> 
           <app-wide-button label="View Profile"></app-wide-button>
        
    </div>


  <div class="stats mt-4 d-flex gap-5">
        
        <div class="d-flex align-items-center gap-3">
                    <img class="dBoardPhoto" src="reportingIcon.png" alt="">
            <div class="pt-2">
              <h6 class="mb-0 fw-semibold">Reporting To:</h6>
              <h6 class="text-secondary">Salwa Assem</h6>
        </div>
    </div>

            <div class="d-flex align-items-center gap-3">
                    <img class="dBoardPhoto" src="corpLevel.png" alt="">
                    <div class="pt-2">
                      <h6 class="mb-0 fw-semibold">Corporate Level:</h6>
                      <h6 class="text-secondary">Level 10</h6>
                    </div>
            </div>

        </div>
            </div> 
           
    
        <div class="requestsInfoCards d-flex justify-content-center gap-4">

            <app-count-req-card></app-count-req-card>

            <app-count-req-card></app-count-req-card>
        </div>
    </div>
  </div>


  <div class="container-md mt-5">

    <h5 class="fw-semibold">Latest News:</h5>

    <!-- mobile only image slider caption -->
    <h6 class="fw-bold d-block d-md-none">Best Spots For A Summer Vacation</h6>
    <p class="d-block d-md-none">Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
   
    
  <div id="imageSlider" class="carousel_slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">        
      <div class="carousel-item active" data-bs-interval="10000" id="carItem">
        <img src="cruise.jpg" class="d-block w-100" alt="..." id="carImg">
      </div>

      <div class="carousel-item" data-bs-interval="10000" id="carItem">
        <img src="beach.jpg" class="d-block w-100" alt="..." id="carImg"> 
      </div>

      <div class="carousel-item" data-bs-interval="10000" id="carItem">
        <img src="lake.jpg" class="d-block w-100" alt="..." id="carImg">
      </div>

      <div class="carousel-caption d-none d-md-block w-100">
        <h5 class="fw-semibold">Best Spots For A Summer Vacation</h5>
        <p>Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
      </div>
    </div>
    <div class="carousel-indicators position-relative mt-2">
      <button type="button" data-bs-target="#imageSlider" data-bs-slide-to="0" class="active bg-secondary" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#imageSlider" data-bs-slide-to="1" class="bg-secondary" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#imageSlider" data-bs-slide-to="2" class="bg-secondary" aria-label="Slide 3"></button>
    </div>
  </div>
</div>


<div class="container-md mt-5" id="last-container">

  <div class="vacationReq boxshadow bg-light rounded-4">

   <div class="universalHeader d-flex justify-content-between mx-sm-2 pt-4 px-3">

    <div class="logo_title d-flex align-items-center gap-3">

    <img src="requestIconGreen.png" alt="">
    <h4>Vacation Requests</h4>
    </div>

    <app-search-bar (searchTermChanged)="onSearchTermChanged($event)"></app-search-bar>
    
    </div>
    <hr class="mt-4 border-2 mx-4 mx-sm-4">

    <div class="vacationReqBody d-flex mx-2 mx-sm-4 mx-xxl-5">

      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 w-100" id="cardList">

        <!-- ngFor is used to display the cards in reqCards -->
        <ng-container *ngFor="let card of reqCards">
         <app-request-card 
            *ngIf="card.isVisible"
            [reqName]="card.reqName">
          </app-request-card>
        </ng-container>


      </div>

    </div>
    <div class="viewMore d-flex justify-content-end mx-4 pb-2">
      <a class="text-success fw-semibold text-decoration-none fs-6" href="#">View More ></a>
    </div>
  </div>

</div>



<router-outlet />
