<div class="dashboard boxshadow bg-light rounded-5 p-3">
    
    <div class="profileOverview d-flex align-items-center justify-content-between mb-3">

        <div class="profilePicName d-flex align-items-center w-70">

             <img class="avatar-med rounded-circle" src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png" alt="">
             

             <div class="p-2">
                <h5 class="mb-0 fw-semibold">Ahmad Azmi</h5>
                <h6 class="mb-0 text-secondary">Marketing Department</h6>
                <h6 class="text-black-50">Junior Accounting Officer</h6>
            </div>
        </div>  
          <app-wide-button label="New Request" customClass="btn-success text-light"></app-wide-button>
      
    </div>


  <div class="stats d-flex justify-content-evenly gap-5 flex-wrap">
        
    <div class="d-flex gap-3" >
            <img src="reportingIcon.png" alt="" style="width: 2.8em; height: 3em;"> 
           
            <div class="d-flex flex-column">
            <h6 class="mb-0 fw-semibold">Reporting To:</h6>
            <h6 class="text-secondary">Salwa Assem</h6>
        </div>
    </div>

    <div class="d-flex gap-3" >
        <img src="corpLevel.png" alt="" style="width: 2.8em; height: 3em;"> 
       
        <div class="d-flex flex-column">
        <h6 class="mb-0 fw-semibold">Corporate Level:</h6>
        <h6 class="text-secondary">Level 10</h6>
    </div>
</div>

<div class="d-flex gap-3" >
    <img src="lifetimeIcon.png" alt="" style="width: 2.3em; height: 3em;"> 
   
    <div class="d-flex flex-column">
    <h6 class="mb-0 fw-semibold">Lifetime:</h6>
    <h6 class="text-secondary">2.5 Years</h6>
</div>
</div>


<div class="d-flex gap-2" >
    <img src="vacationIcon.png" alt="" style="width: 2.5em; height: 3em;"> 
   
    <div class="d-flex flex-column">
    <h6 class="mb-0 fw-semibold">Vacation Days Left:</h6>
    <h6 class="text-secondary">10 Days</h6>
</div>
</div>

<div class="d-flex gap-3" >
    <img src="sickDaysIcon.png" alt="" style="width: 2.8em; height: 3em;"> 
   
    <div class="d-flex flex-column">
    <h6 class="mb-0 fw-semibold">Sick Days Left:</h6>
    <h6 class="text-secondary">14 Days</h6>
</div>
</div>

        </div>
            </div> 
