

    <div class="profileOverview d-flex align-items-center justify-content-between">

        <div class="profilePicName d-flex align-items-center gap-2">

             <img class="avatar rounded-circle" src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png" alt="">
            
             <div>
              <h5 class="mb-1 fw-semibold">Ahmad Azmi</h5>
              <h6 class="text-body-tertiary">Junior Accounting Officer</h6>
            </div>
        </div> 
           <app-wide-button profileLink="/Profile" label="View Profile"></app-wide-button>
        
    </div>


  <div class="stats mt-4 d-flex gap-5">
        
        <div class="d-flex align-items-center gap-3">
                    <img class="dBoardPhoto" src="reportingIcon.png" alt="">
            <div class="pt-2">
              <h6 class="mb-0 fw-semibold">Reporting To:</h6>
              <h6 class="text-secondary">Salwa Assem</h6>
        </div>
    </div>

            <div class="d-flex align-items-center gap-3">
                    <img class="dBoardPhoto" src="corpLevel.png" alt="">
                    <div class="pt-2">
                      <h6 class="mb-0 fw-semibold">Corporate Level:</h6>
                      <h6 class="text-secondary">Level 10</h6>
                    </div>
            </div>

        </div>
            
